<section class="footer-container">
    <div class="footer-top">
        <div class="item">
            <ul>
                <li class="top-item">Account</li>
                <li>item 2</li>
                <li>item 3</li>
            </ul>
        </div>
        <div class="item">
            <ul>
                <li class="top-item">Company</li>
                <li>item 2</li>
                <li>item 3</li>
            </ul>
        </div>
        <div class="item">
            <ul>
                <li class="top-item">About</li>
                <li>item 2</li>
                <li>item 3</li>
            </ul>
        </div>
    </div>
    <div class="copyright">@Copy right - Sản phẩm thuộc về Cu Lời và Chú Út</div>
</section>
